/*============================= Start Global Variables ===========================  */
:root {
  --section-padding: 50px 0;
  --bg_c: #333333;
  --g_c: #777777;
  --w_color: #e9e9e9;
  --pag_color: #2d2d2d;
  --footer_color: #2a2c21;
  --card_color: #d1c800;
}
/*============================= End Global Variables ===========================  */
/*============================= Start Global Rules ===========================  */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* ----- Container For Responsive ----- */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/*============================= End Global Rules ===========================  */
/*============================= Start Components ===========================  */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-weight: normal;
  font-size: 40px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #333;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.main-heading h2::after {
  content: "";
  border: 2px solid #333;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: -38px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
}
.main-heading p {
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  line-height: 2;
  color: #777;
}
/*============================= End Components ===========================  */
/*=============================Start Custom Fonts ===========================  */
@font-face {
  font-family: myFirstFont;
  src: url(../fonts/SwanseaBold-D0ox.ttf);
  font-weight: bold;
}
body {
  /* font-family: "Bebas Neue", cursive; */
  background-color: var(--bg_c);
  color: var(--w_color);
}
/*=============================End Custom Fonts ===========================  */

/* ################################################################################################## */

/*============================= Start Header ===========================  */
header {
  padding: var(--section-padding);
  margin-top: 30px;
}
header .container {
}
header .logo {
  font-family: "Bebas Neue", cursive;
  text-align: center;
  font-size: 70px;
}
header .content {
  display: grid;
  gap: 20px;
  margin: 40px auto;
  width: fit-content;
}
header .content .slogan {
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  header .content .slogan {
    font-size: 12px;
  }
}
header .content .search-area {
  text-align: center;
  text-transform: uppercase;
}
header .content .search-area form {
  display: grid;
  gap: 20px;
}
header .content .search-area form .search {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 40px;
  font-size: small;
}
header .content .search-area form .search input[type="submit"] {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80px;
  background-color: var(--g_c);
  color: var(--w_color);
  border: none;
  font-style: italic;
  cursor: pointer;
}
header .content .search-area form .search input[type="search"] {
  width: 100%;
  height: 100%;
  padding-left: 85px;
  font-style: italic;
}
header .content .search-area form .search input[type="search"]::placeholder {
  text-align: center;
}
header .content .search-area form .search input[type="search"]:focus {
  text-align: center;
}
header .content .search-area form .sort {
  display: flex;
  justify-content: space-between;
}
header .content .search-area form .sort span {
  padding: 50px 10px 10px;
  font-size: small;
  background-color: var(--w_color);
  color: var(--bg_c);
}
header .content form input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  /* display: none; */
}
header .content form label {
  position: relative;
  background: #777;
  font-size: small;
  padding: 10px 10px 10px;
  transition: 0.1s;
}
@media (max-width: 767px) {
  header .content form label {
    font-size: 10px;
  }
}
header .content form input[type="radio"]:checked + label {
  border-bottom: 40px solid var(--card_color);
  color: var(--card_color);
}
header .content form input[type="radio"]:hover + label {
  border-bottom: 10px solid var(--card_color);
  color: var(--card_color);
}
/*============================= End Header ===========================  */
/*=============================Satrt Main Cats ===========================  */
.main-cats {
  width: fit-content;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 3;
}
.main-cats ul {
  display: flex;
  writing-mode: vertical-rl;
  gap: 7px;
  background-color: rgb(0 0 0 / 30%);
  padding: 10px;
}
@media (max-width: 767px) {
  .main-cats {
    top: 0px;
    right: 5px;
  }
  .main-cats ul {
    gap: 5px;
    font-size: 10px;
    writing-mode: horizontal-tb;
  }
}
@media (max-height: 571px) {
  .main-cats ul {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}
.main-cats a {
  text-decoration: none;
  font-weight: bold;
  /* font-size: 14px; */
  color: var(--w_color);
  padding: 2px;
}
.main-cats ul li:nth-child(even) a {
  color: #999;
}
.main-cats ul li a.active {
  border-left: 5px solid var(--card_color);
  color: var(--card_color);
}
.main-cats a:hover:not(.active) {
  border-left: 1px solid var(--card_color);
  color: var(--card_color);
}
/*=============================End Main Cats ===========================  */
/*=============================Start Sub Cats ===========================  */
.sub-cats {
}
.sub-cats .container {
}
.sub-cats .shuffle ul {
  display: flex;
  width: 445px;
  margin: 0 auto;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .sub-cats .shuffle ul {
    font-size: 12px;
    width: 340px;
  }
}
.sub-cats .shuffle ul a {
  display: block;
  text-decoration: none;
  color: var(--w_color);
  text-transform: uppercase;
  padding: 5px;
}
.sub-cats .shuffle ul a.active {
  border-bottom: 5px solid var(--card_color);
  color: var(--card_color);
}
.sub-cats .shuffle ul a:hover:not(.active) {
  border-bottom: 1px solid var(--card_color);
  color: var(--card_color);
}
.sub-cats .cards-area {
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
  width: fit-content;
}
@media (max-width: 767px) {
  .sub-cats .cards-area {
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    width: fit-content;
  }
}
.sub-cats .cards-area .card {
  width: 160px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  transition: 0.2s;
}
.sub-cats .cards-area .card:hover {
  transform: scale(115%, 115%);
  box-shadow: 12px 10px 0 0 black;
}
.sub-cats .cards-area .card img {
  width: 100%;
  height: 100%;
}
.sub-cats .cards-area .card .desc {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 5px 5px;
  background-color: var(--w_color);
  color: var(--bg_c);
  transform: translateY(102%);
  transition: 0.2s;
}
.sub-cats .cards-area .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}
.sub-cats .cards-area .card:hover::before {
  display: block;
}
.sub-cats .cards-area .card:hover .desc {
  transform: translateY(0);
}
.sub-cats .cards-area .card .desc h3 {
  text-transform: uppercase;
  font-size: medium;
  font-weight: 800;
}
.sub-cats .cards-area .card .desc p {
  font-size: 12px;
  margin-top: 5px;
  line-height: 1.5;
}
.sub-cats .cards-area .card .desc p span {
  font-weight: 700;
  font-size: initial;
}
/*=============================End Sub Cats ===========================  */
/*=============================Start Pagination ===========================  */
.pagination {
  padding: var(--section-padding);
  padding-top: 15px;
}
.pagination .arrows {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  font-size: 20px;
  margin-bottom: 20px;
  color: var(--w_color);
}
.pagination .arrows i {
  color: var(--w_color);
}
.pagination .go-to {
  margin: 0 auto;
  background-color: var(--pag_color);
  padding: 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  width: fit-content;
}
.pagination .go-to input[type="number"] {
  color: var(--bg_c);
  text-align: center;
  border-radius: 10px;
  border: none;
  width: 100px;
}
.pagination .go-to input[type="submit"] {
  order: -1;
  background-color: var(--pag_color);
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--w_color);
}
/*=============================End Pagination ===========================  */
/*=============================Start Footer ===========================  */
footer {
  padding: 10px 0;
  background-color: var(--pag_color);
  position: relative;
  font-size: 14px;
}
@media (max-width: 767px) {
  footer {
    font-size: 12px;
  }
}
footer p:nth-child(2) {
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 767px) {
  footer p:nth-child(2) {
    left: 82%;
  }
}
footer p:nth-child(1) {
  margin-left: 15px;
  font-style: italic;
}
footer p:nth-child(1) span {
  color: var(--card_color);
}
/*=============================End Footer ===========================  */
